.contactUsTitle{
 color:black;
 font-weight: 900;
}
.contactTitles{
 color: #28A755;
 font-weight: bold;
 font-size: 2.5em;
}
.contactUs{
 /* border: solid 0.5em;
 border-radius: 5%;
 border-color: #0E0F55; */
 color: black;
 background-color: ;
}
.contactUsText{
 font-size:1.5em;
 font-weight: bold;  
}
.miniText{ 
 color: #28A745;
}

/*
.socialMediaIcon{
 width: 30%; 
}*/
.socialMediaImage{
  max-width: 400px;
  max-height: 400px;
}

.HeroImg{
 background: 
  /* top, transparent red, faked with gradient */
  linear-gradient(
   rgba(0, 0, 0, 0), 
   rgba(0, 0, 0, 0)
  ), 
  /* bottom, image */
  url('../../img/stockImage/history4.png') ;
 background-size:cover;
 background-position: 0px 0px;
 /*background-image: url("/img/communitydev_hero14.png");*/

 /* #1e20b9 #1b1d95 #1a1c98 #1f21bf */
 /* #1e20b9 #141576 #0E0F55 */
 height: 600px;

 /*min-height: 500px;*/
 background-attachment: fixed;
 background-position:;
 background-repeat: no-repeat;
 background-size: 100% 100%;
}



.gMap{
 /*border: solid 0.5em;
 border-radius: 5%;
 border-color: #141576; */

 height: 600px; 
 width: 100%
}
.creds{
 font-size: 1em;
 line-height: 1.4em;
}